{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>EnerWat2016</title>
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% if request.user.is_authenticated %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% else %}
        <link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/rhinoslider-1.02.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <!-- 	<script type="text/javascript">
                $(document).ready(function() {
                    $('#slider').rhinoslider({
                        autoPlay: true
                    });
                });

        </script> -->
</head>
<body>
<header class="header">
    <div class="wrap">
        <div class="logo"><img src="{% static 'images/IMG.png' %}"><a href="/">EnerWat 2016</a></div>
        <div class="clear"></div>
        <nav class="nav" id="top-nav">
            <ul>
                <li><a href="/">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="/user/">Profile</a></li>
                {% else %}
                    <li><a href="/login/">Sign-In</a></li>
                {% endif %}

                <li>
                    <a href="#">Seminar Information</a>
                    <ul>
                        <li><a href="/note">Manager Note</a></li>
                        <li class="last"><a href="/committee">Seminar Committee</a></li>
                        <li class="last"><a href="/goals">Seminar Goals</a></li>
                        <li class="last"><a href="/bases">Seminar Bases</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Programs</a>
                    <ul>
                        <li class="last"><a href="/speakers">Keynote Speakers</a></li>
                        <li class="last"><a href="competition">Competition</a></li>
                        <li class="last"><a href="/workshops">Workshops</a></li>
                        <li class="last"><a href="/exhibition">Exhibition</a></li>

                    </ul>
                </li>

                <li>
                    <a href="/articles">Papers</a>
                    <ul>
                        <li class="last"><a href="/guide">Guide for Authors</a></li>
                        <li class="last"><a href="/submit-paper">Submit Paper</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Cultural</a>
                    <ul>
                        <li class="last"><a href="/images">Images</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/news">News</a>
                </li>

                <li><a href="/contact">Contact Us</a></li>
            </ul>
            <div class="clear"></div>
        </nav>
    </div>
</header>
<div class="wrap">
    <div class="content">
        <!--            <div class="slide-box">
                        <ul id="slider">
                            <li><img src="images/300.jpeg/" /></li>
                            <li><img src="images/300.jpeg/" /></li>
                            <li><img src="images/300.jpeg/" /></li>
                            <li><img src="images/300.jpeg/" /></li>
                        </ul>
                    </div> -->
        {% if not request.user.is_authenticated %}
            <div class="s-box">
                <h1>Login</h1>

                <form class="cmxform" id="contactForm" method="POST" action="/login/">
                    {% csrf_token %}

                    <div>
                        <span><label for="email">Email</label></span>
                        <span><input type="email" id="name" name="email" required/></span>

                    </div>

                    <div>
                        <span><label for="password">Password</label></span>
                        <span><input type="password" id="email" name="password" required/></span>

                    </div>


                    <div>
                        <span><input class="submit" type="submit" value="Submit"/></span>
                    </div>
                </form>
            </div>
        {% endif %}

        {% block content %}{% endblock %}


        
    </div>
</div>
<footer class="footer">
    <div class="wrap">
        <div class="f-menu">
            <div class="copy">@ 2015 All rights reserved. Designed by <a href="mailto:chapnacomp@gmail.com"
                                                                         style="color: red">Chapna</a></div>
        </div>
    </div>
</footer>
</body>
</html>
