{% extends "layout.html" %}
{% load staticfiles %}

{% block css %}
    {% if not request.user.is_authenticated %}
        <link href="{% static 'css/login-window.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="s-box">
            <h1>Login</h1>

            <form class="cmxform" id="contactForm" method="POST" action="/login/">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <span><input class="submit" type="submit" value="Submit"/></span>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="b-box">
        <h1>About</h1>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien
            ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
            Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
            dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
            tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volun porttitor, facilisis
            luctus, metus</p>

        <p>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien
            ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
            Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
            dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
            tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
            tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>  <a href="#">More info &raquo;</a></p>
    </div>

{% endblock %}