{% extends 'layout.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="wrap">
        <div class="content">
            <div class="sl-box">
                <h1>Login</h1>

                <form class="cmxform" id="contactForm" method="POST" action="/login/">
                    {% csrf_token %}

                    {% if false_user %}
                        <div style="color: red">
                            Email or Password is wrong.
                        </div>
                    {% endif %}
                    <div>
                        <span><label for="username">Email</label></span>
                        <span><input type="text" id="username" name="username" required/></span>
                    </div>
                    <div>
                        <span><label for="password">Password</label></span>
                        <span><input type="password" id="password" name="password" required/></span>
                    </div>
                    <div>
                        <span><input class="submit" type="submit" value="Login"/></span>
                    </div>
                </form>
                <a href="{% url 'user_signup' %}">Create new account</a>
            </div>
        </div>
    </div>
{% endblock %}