/* JS disabled styles */
#top-nav li:hover ul {
    display: block;
}

/* base nav styles */
#top-nav {
    display: block;
    margin: 0 auto 20px;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
}

#top-nav ul {
    padding: 0;
    margin: 0;
}

#top-nav li {
    position: relative;
    float: left;
    list-style-type: none;
}

#top-nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#top-nav li a {
    display: block;
    padding: 10px 35px;
    color: #EEEEEE;
    text-decoration: none;
}

#top-nav ul li a:hover {
    text-decoration: none;
}

#top-nav li:first-child a {
    border-left: none;
}

#top-nav li.last a {
    border-right: none;
}

#top-nav a span {
    display: block;
    float: right;
    margin-left: 5px;
}

#top-nav ul ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(18, 110, 159, .8);
    -moz-box-shadow: 2px 2px 2px rgba(18, 110, 159, .8);
    -webkit-box-shadow: 2px 2px 2px rgba(18, 110, 159, .8);
    box-shadow: 2px 2px 2px rgba(18, 110, 159, .8);
}

#top-nav ul ul li {
    float: none;
}

#top-nav ul ul a {
    padding: 5px 10px;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

#top-nav ul ul li {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

#top-nav ul ul a:hover {
    background-color: rgba(75, 162, 208, .8);
    text-decoration: none;
}

#top-nav ul ul li.last {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul a span {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
