@font-face {
    font-family: Abel-Regular ;
    src: url(../fonts/Abel-Regular.ttf) format("truetype");
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav,
output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside,
details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Additions */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

.txt-lt {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.clear {
    clear: both;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.display-block {
    display: block;
}

/*--------reset--------*/
body {
    background: #fff; /* background */
    font-family: 'Abel-Regular', Helvetica, sans-serif;
}

.header {
    padding-top: 15px;
    margin: 0 0 35px 0;
}

.wrap {
    width: 990px;
    margin: 0 auto;
    background: #fff; /* slide and header background */
}

.logo a {
    margin: 25px 0;
    color: #000; /* Company name color */
    font-size: 40px;
    /*     float: left; */
    text-transform: uppercase;
}

.phone {
    float: right;
    position: relative;
    margin: 20px 20px 0 0;
}

.phone li {
    color: #393939; /* Phone number color */
    font-size: 14px;
    padding-bottom: 20px;
}

.icon {
    background: url(../images/icons.png) no-repeat;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.mob,
.mail {
    display: inline-block;
}

.mob {
    background-position: 0 0;
    position: absolute;
    left: -25px;
    top: -2px;
}

.mail {
    background-position: 0 -20px;
    position: absolute;
    left: -25px;
    top: 31px;
}

/*--nav--*/
.nav {
    margin-top: 15px;
    background: #126e9f; /* nav background */
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.nav ul {
    padding: 0 0 0 5px;
}

.nav li {
    float: left;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #093c57; /* nav border */
}

.nav li a {
    color: #7cccf7; /* nav text */
    font-size: 15px;
    display: block;
    padding: 10px 25px;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.nav li a:hover {
    color: #fff;
    background: #004a71; /* nav background hover */
}

.content {
    margin: 0 auto;
}

.slide-box {
    margin: 10px auto 30px auto;
    width: 990px;
    height: 300px;
}

/*--list--*/
.list {
    margin: 0 0 0 2em;
}

.list li {
    margin: 0;
    color: #c4ac9e;
    font-size: 12px;
    padding-bottom: 15px;
    list-style-type: disc;
}

/*--boxes--*/
.box:first-child {
    margin-left: 0;
}

.box {
    float: left;
    position: relative;
    width: 300px;
    height: 320px;
    background: #40332a;
    margin: 0 0 0 44px;
    -webkit-box-shadow: 1px 2px 3px #000;
    -moz-box-shadow: 1px 2px 3px #111;
    box-shadow: 1px 2px 3px #1d1d1d;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.box h1 {
    margin: 0 0 12px 0;
    padding-bottom: 12px;
    font-size: 18px;
    color: #d9c8be;
    border-bottom: 2px dotted #d9c8be;
}

.box .prev {
    margin: 18px auto;
    text-align: center;
}

.box .more p {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #2c251f;
    font-size: 10px;
    padding: 5px;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.box .more p a {
    color: #9dc41d;
    display: block;
}

.boxes {
    margin: 35px auto;
}

.b-box {
    position: relative;
    padding: 20px 40px;
    /*     margin-right: 300px; */
    background: #4ba2d0; /* box background */
    -webkit-box-shadow: 1px 2px 3px #000;
    -moz-box-shadow: 1px 2px 3px #111;
    box-shadow: 1px 2px 3px #1d1d1d;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.b-box h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #000; /* box text */
    border-bottom: 2px dotted #d9c8be;
}

.b-box p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 15px;
    color: #272a2c; /* box text */
}

.b-box span {
    font-weight: bold;
}

.sl-box {
    display: block;
    padding: 20px;
    width: 250px;
    height: 270px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 30px;
    background: #4ba2d0; /* box background */
    -webkit-box-shadow: 1px 2px 3px #000;
    -moz-box-shadow: 1px 2px 3px #111;
    box-shadow: 1px 2px 3px #1d1d1d;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.sl-box h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #000; /* box text */
    border-bottom: 2px dotted #d9c8be;
}

.su-box {
    display: block;
    padding: 20px;
    width: 947px;
    height: 400px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 30px;
    background: #4ba2d0; /* box background */
    -webkit-box-shadow: 1px 2px 3px #000;
    -moz-box-shadow: 1px 2px 3px #111;
    box-shadow: 1px 2px 3px #1d1d1d;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.su-box h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #000; /* box text */
    border-bottom: 2px dotted #d9c8be;
}

.s-box {
    position: relative;
    padding: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-left: 700px;
    background: #4ba2d0; /* box background */
    -webkit-box-shadow: 1px 2px 3px #000;
    -moz-box-shadow: 1px 2px 3px #111;
    box-shadow: 1px 2px 3px #1d1d1d;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.s-box h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #000; /* box text */
    border-bottom: 2px dotted #d9c8be;
}

/*Table*/
.table {
    display: table;
    font-size: 12px;
    border-bottom: 1px solid #564437;
    color: #c3aea2;
    margin: 3em auto;
}

.table-head {
    display: table-header-group;
}

.table-head .column {
    background: #564437;
    color: #c3aea2;
    border-right: 1px solid #564437;
    border-bottom: none;
    text-align: center;
}

.row {
    display: table-row;
}

.row .column:nth-child(1) {
    border-left: 1px solid #564437;
}

.row:last-child .column {
    border-bottom: none;
}

.column {
    display: table-cell;
    padding: 10px 20px;
    border-bottom: 1px solid #564437;
    border-right: 1px solid #564437;
}

/*--footer--*/
.f-menu {
    position: relative;
    margin: 1.8em 0;
    height: 35px;
    background: #126e9f; /* footer background */
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.f-menu ul {
    padding: 0;
    margin-left: 10px;
}

.f-menu li {
    display: inline-block;
}

.f-menu li a {
    color: #7cccf7; /* footer text */
    font-size: 15px;
    display: block;
    padding: 10px;
}

.f-menu li a:hover {
    color: #fff;
}

.copy {
    position: absolute;
    display: block;
    /*    align-content: center;*/
    /*    right: 10px;*/
    margin-left: 400px;
    top: 13px;
    color: #7cccf7; /* footer CP text */
    font-size: 12px;
}

/*--contact--*/
.contact {
    float: left;
    margin: 2em 0 1em 1em;
}

.contact li:first-child {
    font-size: 16px;
    color: #9DC41D;
}

.contact li:last-child {
    line-height: 1.5em;
    border-top: 1px solid #2c251f;
    padding-top: 10px;
}

.contact li {
    width: 400px;
    color: #c4ac9e;
    font-size: 12px;
    padding-bottom: 9px;
}

.land {
    font-size: 12px;
    color: #c4ac9e;
}

.book-list {
    margin: 4em 0;
}

.book-list li {
    padding: 7px 0;
    font-size: 14px;
    color: #C4AC9E;

}

.book-list li:first-child {
    color: #9DC41D;
    font-size: 18px;

}

/* form */
.form {
    font-size: .8em;
    margin: 2em 0 0 5em;
}

form label {
    font-size: 15px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

form div {
    padding: 10px;
}

form div:last-child {
    border-bottom: none;
}

form span {
    display: block;
    color: #aaa;
}

/* .form form input[type=text],
form input[type=password],
form textarea,
form input[type=text].error,
form input[type=password].error,
form select.error {
    padding: 8px 5px;
    width: 300px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    border: 1px solid #564437;
    color: #d9c8be;
    background: none;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
} */

/* .form form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus {
    background: none;
    outline: none;
} */

.content form input[type=submit] {
    cursor: pointer;
    color: #000;
    background: #1582bc;
    padding: 8px 15px;
    border: 1px solid #000;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.content form input[type=submit]:hover {
    background: #126e9f;
}

.content form textarea {
    height: 100px;
    width: 300px;
}

.error {
    display: inline;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0 0 10px;
    color: #FF0000;
}

select.error {
    padding: 0;
}

/*.rhino-btn {
    background: url(../images/rhinoslider-sprite.png) 0 0 no-repeat;
    z-index: 10;
    width: 56px;
    height: 53px;
    display: block;
    text-indent: -999%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.rhino-prev, .rhino-next {
    bottom: -4px;
}

.rhino-prev {
    left: -6px;
    background-position: -168px 0;
}

.rhino-next {
    right: -6px;
    background-position: -106px 0;
}

.rhino-prev:hover {
    background-position: -168px -53px;
}

.rhino-next:hover {
    background-position: -106px -53px;
}

.rhino-toggle {
    top: -4px;
    left: -6px;
}

.rhino-play {
    background-position: 0 0;
}

.rhino-play:hover {
    background-position: 0 -53px;
}

.rhino-pause {
    background-position: -56px 0;
}

.rhino-pause:hover {
    background-position: -56px -53px;
}

.rhino-container {
    position: relative;
}

.rhino-caption {
    position: absolute;
    background: #000;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.rhino-bullets {
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin: 0 0 0 -50px;
    z-index: 10;
    background: #fff;
    padding: 0;
}

.rhino-bullets:before, .rhino-bullets:after {
    position: absolute;
    display: block;
    left: -16px;
    content: ' ';
    width: 16px;
    height: 26px;
    background: url(../images/rhinoslider-sprite.png) -224px 0 no-repeat;
}

.rhino-bullets:after {
    left: auto;
    right: -16px;
    background-position: -240px 0;
}

.rhino-bullets li {
    float: left;
    display: inline;
    margin: 0 2px;
}

.rhino-bullets li a.rhino-bullet {
    display: block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    background: white;
    font-size: 10px;
    text-align: center;
    padding: 6px 0 5px 0;
    color: #333;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
    color: #999;
    background: #eee;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    color: #fff;
    background: #40332A;
}*/

.demo-header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    -moz-box-shadow: 2px 0 10px #ddd;
    -webkit-box-shadow: 2px 0 10px #ddd;
    box-shadow: 2px 0 10px #ddd;
}

.demo-header a {
    color: #2d2d2d;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.demo-header a:hover {
    color: #ff4800;
}

#slider {
    width: 990px;
    height: 300px;

    /*IE bugfix*/
    padding: 0;
    margin: 0;
}

#slider li {
    list-style: none;
}

#page {
    margin: 40px auto;
    width: 990px;
}

/* content */
.content ul {
    margin: 0 0 12px 0;
}

.content li {
    color: #ffe0ce;
    font-size: 12px;
    line-height: 22px;
}

.content a {
    color: #000;
}

.content h2,
.content h3 {
    color: #D9C8BE;
    font-weight: bold;
    margin: 12px 0;
}

